@font-face {
  font-family: "Pacifico";
  src: url("fonts/Pacifico-Regular.woff2") format("woff2"),
    url("fonts/Pacifico-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ANIMATED Fiona text */
.animate-name {
  background-image: linear-gradient(
    -300deg,
    #231557 0%,
    #44107a 29%,
    coral 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear;
  display: inline-block;
  font-size: 5rem;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h1 {
  color: #303b76;
  font-family: "pacifico";
  margin-top: 1rem;
  margin-bottom: 0;
}

h2 {
  font-family: "san-serif";
  color: #303b76;
  line-height: normal;
  font-size: xx-large;
  margin-top: 0;
}

h3 {
  font-family: "san-serif";
  /* font-size: 1rem; */
  font-weight: normal;
  line-height: 1.3;
  color: rgba(55, 55, 55, 0.75);
}

a:link {
  font-family: "san-serif";
  text-decoration: none;
  color: rgba(55, 55, 55, 0.75);
  font-weight: bold;
}

a:visited {
  color: rgba(55, 55, 55, 0.75);
}

a:focus {
  color: coral;
}

a:hover {
  color: coral;
}

a:active {
  color: coral;
}

p {
  color: rgba(55, 55, 55, 0.75);
  font-family: "san-serif";
  font-size: small;
  margin-left: 1em;
  margin-top: 0;
  padding-top: 0.75em;
}

.inner {
  background-color: white;
}

#navbar {
  padding-top: 10em;
  background-color: #ffffff;
  cursor: default;
  height: 100vh;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  width: 8rem;
  z-index: 1000;
}

#navbar li {
  list-style: none;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(25, 48, 119);
  margin-top: 3rem;
  background-color: white;
}

#navbar li:hover {
  list-style: none;
  cursor: pointer;
  color: coral;
  margin-top: 3rem;
}

#navbar ul {
  background-color: white;
}

.nav-wrapper {
  height: 100%;
  overflow: hidden;
  /* position: relative; */
  /* top: 0; */
  /* display: grid; */
  /* padding: 2rem; */
}

.content-wrapper {
  padding-right: 4em;
  padding-left: 4em;
  padding-bottom: 2em;
  /* height: 100%; */
  /* position: relative; */
  overflow: visible;
  top: 0;
  margin-left: 12rem;
  background-color: rgb(250, 249, 255);
  /* display: grid; */
}

.intro {
  position: relative;
  top: 50%;
  text-align: left;
}

/* detail {
  position: relative;
  text-align: left;
} */

/* section {
  position: relative;
  top: 50%;
} */

#work {
  position: relative;
  top: 50%;
}

#intro {
  padding-top: 10em;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50%;
}

.work-detail {
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
}

.community-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50%;
}

.community-detail {
  border-radius: 3px;
  display: grid;
  border-style: solid;
  border-width: 1px;
  width: 33%;
  border-color: rgba(55, 55, 55, 0.228);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 238, 251);
}

#contact p {
  margin-left: 0;
}

#contact li {
  font-size: small;
  color: rgba(55, 55, 55, 0.75);
}

.icon-wrapper {
  width: 130px;
  justify-content: space-between;
  display: flex;
  padding-bottom: 2em;
}

#footer {
  background-color: rgb(25, 48, 119);
  height: 75px;
  position: relative;
  padding: 0;
  margin-left: 12rem;
}

.footer-text {
  text-align: center;
  color: white;
  line-height: 1.3;
  font-size: 1em;
  padding-top: 1em;
}
